
<div class="text-left flex-row d-flex">
  <div class="me-3">
    <ng-content select="avatar"></ng-content>
  </div>
  <div class="py-2">
    <div class="float-right w-100">
      <ng-content select="rating"></ng-content>
    </div>
    <ng-content select="title"></ng-content>
    <blockquote class="blockquote">
      <ng-content></ng-content>
      <footer class="blockquote-footer float-right pt-3">
        <ng-content select="author"></ng-content>
      </footer>
    </blockquote>
  </div>
</div>
