<p>welcome <strong>{{ user.firstName.toLocaleUpperCase() }}</strong>!</p>
<div
    [title]="user.firstName"
    [hidden]="!askAboutName"
    [attr.data-isSubscrined]="user.isSubscrined"
    role="presentation"
>
    <input
        #firstNameRef
        type="text"
        class="test-class"
        [value]="user.firstName"
        (input)="user.firstName = $any($event.target).value"
    >
    <p>{{ 170 - user.firstName.length }} / 170</p>
    <!-- <button
        (click)="changeFirstName(firstNameRef)"
    >
        Change name
    </button> -->
</div>
<p>{{ askIfSubscribed() }}</p>
