<p class="slideIn"
    [class.animated]="steps.showWelcome"
    [style.font-size.rem]="(3 - user.firstName.length / 10)"
>
    Welcome <b>{{ user.firstName | titlecase }}</b>!
</p>
<p class="slideIn"
    [class.animated]="steps.askForFirstName"
>
    What is your name
    <input
        #firstNameRef
        class="inline-input"
        type="text"
        [value]="user.firstName"
        (input)="updateName($any($event.target).value)"
        autofocus
        maxlength="20"
    >
    ?
</p>
<p class="slideIn"
    [class.animated]="steps.askToSubscribe"
>
    Would you like to subscribe to our awesome newsletter?
    <button (click)="agreedToSubscribe()">
        Yes
    </button>
    <button disabled>
        No
    </button>
</p>
<p class="slideIn"
    [class.animated]="steps.askForEmail"
>
    Type your best email
    <input
        #emailRef
        type="text"
        class="inline-input"
        placeholder="here"
        (input)="updateEmail($any($event.target).value)"
        [class.valid]="user.email.length >= 3"
        [class.invalid]="user.email.length <= 3"
    >
    and <button (click)="subscribeUser(emailRef.value)">
        Click here!
    </button>
</p>
<div class="slideIn"
    [class.animated]="steps.subscribedSuccess"
>
    <h1>You are all set up now!</h1>
    <p>Check your mailbox for loads of awesome stuff!</p>
</div>
