<pre>{{ user | json }}</pre>
<p>welcome <strong>{{ user.firstName | uppercase }}</strong>!</p>
<p>{{ user.birthday | date: dateFormat }}</p>
<div
    [title]="user.firstName"
    [hidden]="!askAboutName"
    [attr.data-isSubscrined]="user.isSubscrined"
    role="presentation"
    style="text-align:center"
>
    <input
        #firstNameRef
        type="text"
        class="test-class"
        [value]="user.firstName"
        (input)="user.firstName = $any($event.target).value"
    >
    <p>{{ 170 - user.firstName.length }} / 170</p>
</div>
<p>{{ askIfSubscribed() }}</p>
